@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --hightlight: rgb(255, 255, 255);
    --light: rgb(240, 240, 240);
    --main: rgb(224, 224, 224);
    --dark: rgb(202, 202, 202);
    --darker: rgb(190, 190, 190);
    --text-color: rgb(43, 43, 43);
    --lit-color: #87aab9;
}

html {
    color: var(--text-color);
    background-color: #616161;
    font-family: kanit;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 915px;
    width: 412px;
    border-radius: 25px;
    border: 2px solid rgb(43, 43, 43);
    background-color: var(--main);
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    width: 375px;
    color: #cecece;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #434343;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #3f3f3f;
}

    #time {
        margin: 0;
    }

.page {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 700px;
    width: 350px;
    background-color: var(--main);
    z-index: 3;
    transition: transform 0.3s ease;
}

.hidden-right {
    transform: translateX(412px);
}

.hidden-left {
    transform: translateX(-412px);
}

.hidden-bottom {
    transform: translateY(850px);
}

    #settings-page {
        padding: 50px 25px;
        z-index: 5;
    }

        #close {
            width: 100px;
        }

    .settings {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60px;
        margin-top: 35px;
        border-radius: 15px;
        box-shadow: 10px 10px 20px var(--darker),
                    -10px -10px 20px var(--hightlight),
                    inset 1px 1px var(--dark),
                    inset -1px -1px var(--hightlight);
    }

        .settings label {
            width: 30%;
            height: 1.5em;
            text-align: center;
            padding: 18px 0;
            color: var(--text-color);
        }

        .settings fieldset {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 60%;
            height: 36px;
            padding: 0;
            margin: 12px 0;
            background-color: var(--main);
            border-radius: 15px;
            color: var(--text-color);
            border: none;
            outline: none;
            appearance: none;
            text-align: center;
            box-shadow: inset 5px 5px 10px var(--darker),
                        inset -5px -5px 10px var(--hightlight),
                        1px 1px var(--dark),
                        -1px -1px var(--hightlight);
        }

            .settings input[type='radio'] {
                margin: 0;
                position: relative;
                cursor: pointer;
            }

            .settings input::after {
                position: absolute;
                content: '';
                height: 20px;
                width: 20px;
                top: -3px;
                left: -4px;
                border-radius: 50%;
            }

            #white::after {
                background-color: #e0e0e0;
                
            }

            #dark::after {
                background-color: #848484;
            }

            #pink::after {
                background-color: #e08383;
            }

            #blue::after {
                background-color: #6dade0;
            }

            #green::after {
                background-color: #73caa4;
            }

            #purple::after {
                background-color: #e075e0;
            }

                .clicked::after {
                    background-color: var(--main);
                    box-shadow: inset 3px 3px 7px var(--darker),
                                inset -3px -3px 7px var(--hightlight),
                                1px 1px var(--dark),
                                -1px -1px var(--hightlight);
                }

        .settings label[for='disable'] {
            margin-left: 25px;
            width: 35%;
        }

        .settings input[type='checkbox'] {
            position: relative;
            height: 30px;
            margin-right: 10px;
            width: 50%;
        }

            .settings input[type='checkbox']::after {
                visibility: visible;
                position: absolute;
                z-index: 7;
                width: 100px;
                height: 30px;
                top: 1px;
                left: 40px;
                background-color: var(--main);
                border-radius: 15px;
                box-shadow: inset 5px 5px 10px var(--darker),
                            inset -5px -5px 10px var(--hightlight),
                            1px 1px var(--dark),
                            -1px -1px var(--hightlight);
            }

            #slider {
                position: absolute;
                z-index: 8;
                top: 19px;
                right: 85px;
                width: 60px;
                height: 24px;
                border-radius: 12px;
                background-color: red;
                box-shadow: inset 3px 3px 2px rgb(255, 135, 135),
                            inset -3px -3px 2px rgb(104, 49, 49);
                transition: all 0.1s ease-in-out;
            }

            #slider-tab {
                position: absolute;
                z-index: 9;
                top: 2px;
                left: 24px;
                height: 20px;
                width: 12px;
                background-color: red;
                border-radius: 5px;
                box-shadow: inset 2px 2px 3px rgb(252, 122, 122),
                            inset -2px -2px 3px rgb(151, 54, 54);
            }

                #slider.checked {
                    right: 52px;
                }

    .playlists {
        position: relative;
        display: flex;
        align-items: center;
        height: 90px;
        width: 90%;
        padding: 0 10px;
        margin-bottom: 20px;
        border-radius: 15px;
        cursor: pointer;
        background-color: var(--main);
        box-shadow: 10px 10px 20px var(--darker),
                    -10px -10px 20px var(--hightlight),
                    inset 1px 1px var(--dark),
                    inset -1px -1px var(--hightlight);
    }

        .playlists::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 15px;
            background: linear-gradient(145deg, var(--dark), var(--light));
            box-shadow: inset 7px 7px 10px var(--darker),
                        inset -7px -7px 10px var(--hightlight);
            transition: all 0.1s ease-in-out;
        }

    #main-page nav {
        justify-content: flex-end;
    }

    #main-page .return {
        display: none;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 40px;
    }

    .song {
        position: relative;
        display: flex;
        align-items: center;
        height: 90px;
        width: 90%;
        padding: 0 10px;
        margin-bottom: 20px;
        border-radius: 15px;
        cursor: pointer;
        background-color: var(--main);
        box-shadow: 10px 10px 20px var(--darker),
                    -10px -10px 20px var(--hightlight),
                    inset 1px 1px var(--dark),
                    inset -1px -1px var(--hightlight);
    }

        .song div {
            width: 80%;
            padding: 0 10px;
            line-height: 1rem;
        }

        .song::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 15px;
            background: linear-gradient(145deg, var(--dark), var(--light));
            box-shadow: inset 7px 7px 10px var(--darker),
                        inset -7px -7px 10px var(--hightlight);
            transition: all 0.1s ease-in-out;
        }

    .thumbnail {
        width: 60px;
        box-shadow: 2px 2px 5px #3f3f3f,
                    -3px -3px 5px var(--hightlight);
    }

    .artist-name, .album-name {
        font-size: 0.85em;
    }

    .song p:first-child,
    .song p:nth-child(2) {
        margin: 0.2em;
    }

    .song-time {
        text-align: right;
    }

    #song-page {
        justify-content: space-between;
        z-index: 4;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

        nav i {
            font-size: 1.5rem;
        }

        .return, .options {
            height: 50px;
            width: 50px;
            margin: 0 20px;
        }

    .artist {
        height: 1rem;
        padding-top: 20px;
        font-size: 1.5rem;
    }

        .artist p {
            margin: 0;
        }

    img {
        width: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #3f3f3f,
                    -3px -3px 10px var(--hightlight);
        margin: 20px 0;
    }

.song-info {
    text-align: center;
}

    #song-title, #album-title {
        margin: 0;
    }

    #song-title {
        font-size: 1.2rem;
        padding-bottom: 5px;
    }

.progress-bar {
    position: relative;
    height: 10px;
    width: 300px;
    background-color: var(--main);
    box-shadow: inset 2px 2px var(--dark),
                inset -2px -2px var(--light),
                10px 10px 15px var(--darker),
                -10px -10px 15px var(--hightlight);
    border-radius: 5px;
    margin-top: 40px;
}

    #progress {
        height: 10px;
        width: 0px;
        background-color: var(--lit-color);
        border-radius: 5px;
        box-shadow: inset 2px 2px #949494,
                    inset -2px -2px var(--main);
    }

    #tracker {
        position: absolute;
        top: -8px;
        left: -13px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: var(--main);
        box-shadow: inset -2px -2px var(--dark),
                    inset 2px 2px var(--hightlight);   
    }

        #tracker-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 20px;
            width: 20px;
            border-radius: 50%;
            box-shadow: inset 2px 2px var(--dark),
                        inset -2px -2px var(--hightlight);
        }

    .song-time {
        display: flex;
        justify-content: space-between;
        height: 1rem;
    }

.controls {
    display: flex;
    margin-top: 20px;
}

    #shuffle, #repeat {
        height: 30px;
        width: 30px;
    }

    #back, #next {
        height: 40px;
        width: 40px;
        font-size: 1.2rem;
    }

    #play {
        height: 50px;
        width: 50px;
        font-size: 1.5rem;
    }

button {
    position: relative;
    margin: 15px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--main);
    box-shadow: 10px 10px 20px var(--darker),
                -10px -10px 20px var(--hightlight),
                inset 1px 1px var(--dark),
                inset -1px -1px var(--hightlight);
    transition: all 0.1s ease-in-out;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 15px;
    background: linear-gradient(145deg, var(--dark), var(--light));
    box-shadow: inset 7px 7px 10px var(--darker),
                inset -7px -7px 10px var(--hightlight);
}

    .active {
        box-shadow: none;
        background-color: transparent;
    }

    .active::after {
        opacity: 1;
    }

    .lit {
        color: var(--lit-color);
    }

.bottom-controls {
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: -2px;
    width: 100%;
    height: 50px;
    color: #cecece;
    background-color: #1c1c1c;
}

    .bottom-controls i {
        width: 25px;
        font-size: 1.5rem;
    }

    .home {
        position: relative;
        z-index: 0;
        background-color: #cecece;
        height: 25px;
        width: 25px;
        border-radius: 5px;
    }

        .home-inner {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            height: 20px;
            width: 20px;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            background-color: #1c1c1c;
        }

    .menu {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: space-between;
    }

        .menu-inner {
            height: 25px;
            width: 2px;
            background-color: #cecece;
            border-radius: 3px;
        }